
@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}

<form class="form-group" method="post">
    <br />
    <h3> ŞİFRE YENİLEME  </h3>
    <h4> Smart-BookCase Kullanıcı Şifre Yenileme Sayfası </h4>

    <hr />
    <div style="margin-top:40px" class="col-md-4">

        <label> Current Password : </label>
        <input type="password" class="form-control" id="oldpassword" name="UserName" required />
        <br />
        <label> New Password : </label>
        <input type="password" class="form-control" id="newpassword" name="UserEmail" required />
        <br />
        <label> Confirm Password :</label>
        <input type="password" class="form-control" id="newpassword2" name="UserPassword" required />
        <br />

        <progress max="100" value="0" id="strength" style="width: 230px"></progress>
        <h6></h6>
        <input type="checkbox" onclick="myFunction()"> Show Passwords


        <div style="margin-top:30px">
            <button class="btn btn-success" id="kydtbtn" disabled> Değişiklikleri Kaydet </button>
        </div>


        <div style="margin-top:80px">
            @Html.ActionLink("Back to MainMenu", "Index", "Home") |
            @Html.ActionLink("Login", "login", "User")
        </div>

    </div>

</form>


<script type="text/javascript">
    var pass = document.getElementById("newpassword")
    pass.addEventListener('keyup', function () {
        checkPassword(pass.value)
    })
    function checkPassword(password) {
        var strengthBar = document.getElementById("strength")
        var intScore = 0;


        // LETTERS
        if (password.match(/[a-z]/)) // [verified] at least one lower case letter
        {
            intScore = (intScore + 1)
        } if (password.match(/[A-Z]/)) // [verified] at least one upper case letter
        {
            intScore = (intScore + 3)
        } // NUMBERS
        if (password.match(/\d+/)) // [verified] at least one number
        {
            intScore = (intScore + 3)
        } if (password.match(/(\d.*\d.*\d)/)) // [verified] at least three numbers
        {
            intScore = (intScore + 3)
        } // SPECIAL CHAR
        if (password.match(/[!,#$%^&*?_~]/)) // [verified] at least one special character
        {
            intScore = (intScore + 3)
        } if (password.match(/([!,#$%^&*?_~].*[!,#$%^&*?_~])/)) // [verified] at least two special characters
        {
            intScore = (intScore + 3)
        } // COMBOS
        if (password.match(/[a-z]/) && password.match(/[A-Z]/)) // [verified] both upper and lower case
        {
            intScore = (intScore + 2)
        } if (password.match(/\d/) && password.match(/\D/)) // [verified] both letters and numbers
        {
            intScore = (intScore + 2)
        } // [Verified] Upper Letters, Lower Letters, numbers and special characters
        if (password.match(/[a-z]/) && password.match(/[A-Z]/) && password.match(/\d/) && password.match(/[!,#$%^&*?_~]/)) {
            intScore = (intScore + 2)
        }
        if (password.length >= 4) {
            intScore = (intScore + 1)
        }
        if (password.length >= 7) {
            intScore = (intScore + 1)
        }
        if (password.length >= 10) {
            intScore = (intScore + 1)
        }

        switch (intScore) {
            case 0:
                strengthBar.value = 0;
                break
            case 1:
                strengthBar.value = 5;
                break
            case 2:
                strengthBar.value = 10;
                break
            case 3:
                strengthBar.value = 15;
                break
            case 4:
                strengthBar.value = 20;
                break
            case 5:
                strengthBar.value = 25;
                break
            case 6:
                strengthBar.value = 30;
                break
            case 7:
                strengthBar.value = 35;
                break
            case 8:
                strengthBar.value = 40;
                break
            case 9:
                strengthBar.value = 45;
                break
            case 10:
                strengthBar.value = 50;
                break
            case 11:
                strengthBar.value = 55;
                break
            case 12:
                strengthBar.value = 60;
                break
            case 13:
                strengthBar.value = 65;
                break
            case 14:
                strengthBar.value = 70;
                break
            case 15:
                strengthBar.value = 75;
                break
            case 16:
                strengthBar.value = 80;
                break
            case 17:
                strengthBar.value = 85;
                break
            case 18:
                strengthBar.value = 90;
                break
            case 19:
                strengthBar.value = 95;
                break
            case 20:
                strengthBar.value = 100;
                break

        }
        if (intScore > 9) {
            $(document).ready(function () {
                $("#kydtbtn").prop("disabled", false);
            })
        }
        if (intScore <= 9) {
            $(document).ready(function () {
                $("#kydtbtn").prop("disabled", true);
            })
        }

    }

</script>




<script>

    function myFunction() {
        var x = document.getElementById("oldpassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        var x = document.getElementById("newpassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        var x = document.getElementById("newpassword2");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

</script>


