
@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}

<form class="form-group" method="post">

    <br />
    <h3> ŞİFRE YENİLEME  </h3>
    <h4> Smart-BookCase Kullanıcı Şifre Yenileme Ekranı </h4>
    <hr />

    <div style="margin-top:40px" class="col-md-3">


        <label> E-Mail adresinizi giriniz : </label>
        <input type="text" class="form-control" name="UserEmail" required placeholder="User-Email" />
        <br />


        <div style="margin-top:30px">
            <button class="btn btn-danger"> Send - New Password </button>
        </div>

        <br />

        <div style="margin-top:80px">
            @Html.ActionLink("Back To MainMenu", "Index", "Home") |
            @Html.ActionLink("Sign Up", "NewUser", "User")
        </div>

    </div>
</form>

