@{
    ViewBag.Title = "Home Page";
}


<h1>  ANASAYFA  </h1>
<hr />
<br />
<br />
<h2> SMARTBOOKCASE Web uygulamamız bir Kütüphane Otomasyon Sistemidir. </h2>
<h3> SmartBookCase ile üyeleri, personelleri, kitapları ve kiralama hizmetlerini çok kolay bir şekilde yönetebilirsiniz.</h3>
<br />
<br />
<br />




